.br{
  margin: 0 !important;
}
.br-default .br-units {
  white-space: nowrap;
  counter-reset: counter;
}

.br-default .br-unit {
  padding: 7px 15px;
  background-color: #bef5e8;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 2;
  text-align: center;
  font-weight: 600;
}
.br-default .br-unit.br-selected{
  background-color: #50E3C2;
}
.br-default .br-unit.br-active {
  background-color: #50E3C2;
}

.br-default .br-unit:after {
  content: counter(counter);
  counter-increment: counter;
  color: #fff
}


.br-default .br-selected:after {
  color: #fff
}

.br-default .br-active:after {
  color: #fff
}
.br-default>div.br-units>.br-unit:first-child {
  -webkit-border-top-left-radius: 999px;
  -webkit-border-bottom-left-radius: 999px;
  -moz-border-radius-topleft: 999px;
  -moz-border-radius-bottomleft: 999px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.br-default>div.br-units>.br-unit:last-child {
  -webkit-border-top-right-radius: 999px;
  -webkit-border-bottom-right-radius: 999px;
  -moz-border-radius-topright: 999px;
  -moz-border-radius-bottomright: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
@media print {
  .br-default .br-widget a {
    border: 1px solid #b3b3b3;
    border-left: none;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-default .br-widget a.br-active,
  .br-default .br-widget a.br-selected {
    border: 1px solid black;
    border-left: none;
    background: white;
    color: black;
  }
  .br-default .br-widget a:first-child {
    border-left: 1px solid black;
  }
}

.br-square .br-units {
  counter-reset: counter
}

.br-square .br-unit {
  width: 30px;
  height: 30px;
  border: 2px solid #bbcefb;
  background-color: white;
  margin: 2px;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #bbcefb;
  font-weight: 600
}

.br-square .br-unit.br-active,
.br-square .br-unit.br-selected {
  border: 2px solid #4278F5;
  color: #4278F5
}

.br-square .br-unit:after {
  content: counter(counter);
  counter-increment: counter
}

.br-square.br-readonly .br-active,
.br-square.br-readonly .br-selected {
  border: 2px solid #729bf8;
  color: #729bf8
}

.br-square.br-readonly .br-theme {
  color: #f2cd95
}
